/* I am not blind to need so big video titles */
.header-t1 h1 {
    font-size:15px !important;
    font-weight:normal !important;
}

.header-t1 p {
    font-size: 14px !important;
}

.youtube-bar {
    display: none !important;
}

.post-bar {
    display: none !important;
}
