[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal Emulator
Comment=Use the command line
Exec=exo-open --launch TerminalEmulator
Icon=utilities-terminal
Path=
Terminal=false
StartupNotify=true
