[color]
    status      = auto
    branch      = auto
    interactive = auto
    diff        = auto

[alias]
    l      = !git ll -n 10 | cat | nl -w 3 -v 0 -s \"  \"
    ll     = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]%C(reset)' --decorate --date=short
    lg     = log --stat --max-count=10
    graph  = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    graphl = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n'' %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all

    a      = add
    au     = add -u

    s      = status -sb
    ss     = status

    rh     = reset HEAD
    undo   = reset --soft HEAD^

    bl     = branch -l
    bmv    = !sh -c 'git update-ref refs/heads/"$1" "$2"' -
    bmvv   = !sh -c 'git bmv $(git name-rev --name-only HEAD) "$1"' -

    co     = checkout
    cp     = checkout -

    d      = diff
    dt     = difftool
    ds     = diff --staged
    dl     = diff HEAD~1 HEAD
    dts    = difftool --staged
    dtl    = difftool HEAD~1 HEAD

    c      = commit
    cm     = commit --amend
    amend  = commit --amend -C HEAD

    onto   = !sh -c 'git rebase --onto "$1" HEAD~1 $(git name-rev --name-only HEAD)' -
    ru     = remote update

[diff]
    tool = vimdiff

[difftool]
    prompt = false

[core]
    excludesfile = ~/.gitignore

[user]
    name  = Jitesh Kamble
    email = io@jite.sh

[include]
    path = ~/.gitconfig_local

[github]
    user = hashknot
