/* For the banner ad shown at the top on the homepage */
#header {
    display: none !important;
}

#watch8-action-buttons{
    border-top: 0 !important;
}

.yt-card .yt-uix-button-expander{
    border-top: 0 !important;
}
